<!--<img src="../../../img/biryani.jpg" class="img-responsive" />-->

<table class="table table-hover table-responsive">
    <tr>
        <td><h2>SUN</h2></td>
        <td><h4>Dalcha and Kheema Palak</h4></td>
        <td>$8.99</td>
    </tr>  
    <tr>
        <td><h2>MON</h2></td>
        <td><h4>Dalcha and Aloo Gobi</h4></td>
        <td>$8.99</td>
    </tr>
    <tr>
        <td><h2>TUE</h2></td>
        <td><h4>Khatta shorba and Kheema Aloo</h4></td>
        <td>$8.99</td>
    </tr>
    <tr>
        <td><h2>WED</h2></td>
        <td><h4>Kathli and Palak Gosht</h4></td>
        <td>$8.99</td>
    </tr>
    <tr>
        <td><h2>THU</h2></td>
        <td><h4>Khadi Daal and Beans Curry</h4></td>
        <td>$8.99</td>
    </tr>
    <tr>
        <td><h2>FRI</h2></td>
        <td><h4>Khichdi and Aloo Kheema</h4></td>
        <td>$8.99</td>
    </tr>
    <tr>
        <td><h2>SAT</h2></td>
        <td><h4>Chicken Biryani</h4></td>
        <td>$8.99</td>
    </tr>
</table>