<!--
<img src="../../../img/breakfast.jpg" class="img-responsive" />
<img src="../../../img/breakfast.jpg" class="img-responsive" />
-->

<table class="table table-hover table-responsive">
    <tr>
        <td><h2>SUN</h2></td>
        <td>
            <table class="table table-hover">
                <tr class="row">
                    <td class="col-lg-2">Lunch</td>
                    <td class="col-lg-8">Dalcha and Aloo Methi</td>
                    <td class="col-lg-2">$7.99</td>
                </tr>
                <tr class="row">
                    <td class="col-lg-2">Dinner</td> 
                    <td class="col-lg-8">Dalcha and Kheema Palak</td>
                    <td class="col-lg-2">$8.99</td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr>
        <td><h2>MON</h2></td>
        <td>
            <table class="table table-hover">
                <tr class="row">
                    <td class="col-lg-2">Lunch</td>
                    <td class="col-lg-8">Khatti Daal and Khagina</td>
                    <td class="col-lg-2">$7.99</td>
                </tr>
                <tr class="row">
                    <td class="col-lg-2">Dinner</td> 
                    <td class="col-lg-8">Dalcha and Aloo Gobi</td>
                    <td class="col-lg-2">$8.99</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><h2>TUE</h2></td>
        <td>
            <table class="table table-hover">
                <tr class="row">
                    <td class="col-lg-2">Lunch</td>
                    <td class="col-lg-8">Khatta shorba and Beans curry</td>
                    <td class="col-lg-2">$7.99</td>
                </tr>
                <tr class="row">
                    <td class="col-lg-2">Dinner</td> 
                    <td class="col-lg-8">Khatta shorba and Kheema Aloo</td>
                    <td class="col-lg-2">$8.99</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><h2>WED</h2></td>
        <td>
            <table class="table table-hover">
                <tr class="row">
                    <td class="col-lg-2">Lunch</td>
                    <td class="col-lg-8">Kathli and Aloo Methi</td>
                    <td class="col-lg-2">$7.99</td>
                </tr>
                <tr class="row">
                    <td class="col-lg-2">Dinner</td> 
                    <td class="col-lg-8">Kathli and Palak Gosht</td>
                    <td class="col-lg-2">$8.99</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><h2>THU</h2></td>
        <td>
            <table class="table table-hover">
                <tr class="row">
                    <td class="col-lg-2">Lunch</td>
                    <td class="col-lg-8">Khadi Daal and Tomato Methi</td>
                    <td class="col-lg-2">$7.99</td>
                </tr>
                <tr class="row">
                    <td class="col-lg-2">Dinner</td> 
                    <td class="col-lg-8">Khadi Daal and Beans Curry</td>
                    <td class="col-lg-2">$8.99</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><h2>FRI</h2></td>
        <td>
            <table class="table table-hover">
                <tr class="row">
                    <td class="col-lg-2">Lunch</td>
                    <td class="col-lg-8">Khichdi and Dahi</td>
                    <td class="col-lg-2">$7.99</td>
                </tr>
                <tr class="row">
                    <td class="col-lg-2">Dinner</td> 
                    <td class="col-lg-8">Khichdi and Aloo Kheema</td>
                    <td class="col-lg-2">$8.99</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><h2>SAT</h2></td>
        <td>
            <table class="table table-hover">
                <tr class="row">
                    <td class="col-lg-2">Lunch</td>
                    <td class="col-lg-8">Chicken Burger and 1 Chicken Roll</td>
                    <td class="col-lg-2">$5.99</td>
                </tr>
                <tr class="row">
                    <td class="col-lg-2">Dinner</td> 
                    <td class="col-lg-8">Chicken Biryani</td>
                    <td class="col-lg-2">$8.99</td>
                </tr>
            </table>
        </td>
    </tr>
</table>