<!--<img src="../../../img/nihari.jpg" class="img-responsive" />-->

<table class="table table-hover table-responsive">
    <tr>
        <td><h2>SUN</h2></td>
        <td><h4>Dalcha and Aloo Methi</h4></td>
        <td>$7.99</td>
    </tr>
    
    <tr>
        <td><h2>MON</h2></td>
        <td><h4>Khatti Daal and Khagina</h4></td>
        <td>$7.99</td>
    </tr>
    <tr>
        <td><h2>TUE</h2></td>
        <td><h4>Khatta shorba and Beans curry</h4></td>
        <td>$7.99</td>
    </tr>
    <tr>
        <td><h2>WED</h2></td>
        <td><h4>Kathli and Aloo Methi</h4></td>
        <td>$7.99</td>
    </tr>
    <tr>
        <td><h2>THU</h2></td>
        <td><h4>Khadi Daal and Tomato Methi</h4></td>
        <td>$7.99</td>
    </tr>
    <tr>
        <td><h2>FRI</h2></td>
        <td><h4>Khichdi and Dahi</h4></td>
        <td>$7.99</td>
    </tr>
    <tr>
        <td><h2>SAT</h2></td>
        <td><h4>Chicken Burger and 1 Chicken Roll</h4></td>
        <td>$5.99</td>
    </tr>
</table>