<div class="jumbotron">
<h1>About Us</h1>    

<p>Deccan Catering - based in Plano, Texas - is proud to bring you authentic <b><u>Halal</u></b> homemade dishes straight from the great city of Hyderabad. Founded in Atlanta, GA, we have decided to bring our services to the DFW area. Experience the tastes of India through recipes passed down generations in our family. From everyday eating to dining in special occasions, Deccan Catering will have you covered. Our reliable Hyderabadi style cooking can and will satisfy any craving from spicy to sweet.
</p>
<p>
We are strictly a family-run business to provide you with nothing but the best service possible. From start to finish, no one but members of the Shaik family will be handling your order to make sure it gets undivided attention.
</p>
    
</div>