<br>
<h4>For orders or any questions:</h4>
<h3>832-877-9179</h3>

<br>

<div class="row">
    <div class="col-sm-1">
        <a href="https://www.facebook.com/deccancatering16/" target="_blank"><img src="../../../img/fb-logo.png" style="height:50px; width:50px"/></a>
    </div>
 
<br>
    
    <h4>Visit our Facebook page:</h4></div>
<div class="row">
<div class="fb-page" data-href="https://www.facebook.com/deccancatering16/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/deccancatering16/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/deccancatering16/" target="_blank">Deccan Catering</a></blockquote></div>
</div>
