<br>


<div class="row">
    <div class="col-sm-2"></div>    
<div class="col-sm-8">   
    <h3>Welcome to Deccan Catering!</h3>
    <br>
    
<div class="slideshow">
<slideshow>
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by $index" index="$index">
            <img ng-src="{{slide.image}}" >
            <div class="carousel-caption">
<!--                <h4>Slide {{$index+1}}</h4>-->
            </div>
        </div>
    </div>
</slideshow>    
</div>
</div>

    <div class="col-sm-2"></div> 

</div>

<br>

<div class="row">
    
</div>

<div class="row">
    
    <div class="col-sm-2"></div>  
    
    <div class="col-md-2">
<!--        <div class="alert alert-success" role="alert">-->
        <h3><span class="label label-success" style="vertical-align: text-top;">Follow  us on:</span></h3>

            
<!--    </div>-->
<!--        <h4>Follow us on</h4>-->
    </div>
    
    <div class="col-xs-4">
        <a href="https://www.facebook.com/deccancatering16/" target="_blank">
        <img src="../../../img/fb-logo.png" style="height:40px; width:40px"/>
        </a>
        
        <a href="https://www.instagram.com/deccancatering/?hl=en" target="_blank">
            <img src="../../../img/instagram-logo.png" style="height:40px; width:40px"/>
        </a>
        
    </div>
    
    <div class="col-xs-1">
        
    </div>
    
</div>

<br>

<div class="row">
    <div class="col-sm-2"></div>  
    <div class="col-sm-8">
        <div class="fb-like" data-href="https://www.facebook.com/deccancatering16/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
</div>