<html>
<head>
<!--
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8" />
-->
</head>


<body>



    <div class="container-fluid">
        <div class="row row-sm-height">
            <div class="row-height">

                <section class="col-sm-8 col-sm-push-2 col-sm-height col-sm-middle">
                    <div class="inside">
                        <div class="content-filler">
                            <div ui-view></div>
                        </div>
                    </div>
                </section>
                   
<!--
                    <aside class="col-sm-2 col-sm-pull-8 col-sm-height col-sm-top">
                        <div class="inside">
                            <h2 ui-sref="main.breakfast">Breakfast</h2> <br />
                            <h2 ui-sref="main.lunch">Lunch  </h2><br />
                            <h2 ui-sref="main.dinner">Dinner </h2><br />
                        </div>
                    </aside>
-->
                <aside class="col-sm-2 col-sm-pull-8 col-sm-height col-sm-top" side-bar-menu></aside>

                    <aside class="col-sm-2 right-column col-sm-height col-sm-top">
                        <div class="inside">
                            <h2>Contact Us</h2> <br />
                            <h2>About Us</h2><br />
                            <h2></h2><br />
                        </div>
                    </aside>
                </div>
        </div>
    </div>
    <footer class="container-fluid">
        <h1>FOOTER</h1>
    </footer>


</body>
</html>
